//- File containing mixins used within jade templates

//- Banners used in projects pages
mixin banner(href, title, description, img, colorClass)
        a(class='banner ajax', href=href)
            .title(class=colorClass)=title
            .description(class=colorClass)=description
            img(src='/static/img/banner/' + img)
                
//- Proficiency bars
mixin bar(length)
    .bar
        div(class= 'bar-length-' + length)
        span= length+'%'

//- Proficiency bars with tooltips
mixin profBar(length, title, link)
    li
        if link
            a(href=link, target='_blank')= title
        else
            =title
        .bar
            div(class= 'bar-length-' + length)
            span=length+'%'
//- Tooltips
mixin tooltip(tool, tip)
    li
        span.tool= tool
        .tip= tip
        if block
            block